.Rproj.user
.Rhistory
.RData
.Ruserdata
static/lectures/*/*.toc
static/lectures/*/*.nav
static/lectures/*/*.log
static/lectures/*/*.aux
static/lectures/*/*.snm
static/lectures/*/*.dvi
website.Rproj
static/lectures/*.Rproj
