.Rproj.user
.Rhistory
.RData
.Ruserdata
website.Rproj
static/lectures/*/*.toc
static/lectures/*/*.nav
static/lectures/*/*.log
static/lectures/*/*.aux
static/lectures/*/*.snm
static/lectures/*/*.dvi
static/lectures/*/*.synctex.gz
static/lectures/*/*.html
static/lectures/*.Rproj

static/talk/*.html
